
.title_name{
	/*border: 1px solid green;*/
	padding: 1.5em;
	text-align: center;
	color: #fff;
	font-size:2em;
	text-decoration: underline;
	 text-decoration-style: double;
	font-family: 'Merriweather', serif;
	
}
.input_container{
	width: 80%;
	display: flex;
	padding-bottom:3em;
	/*border: 1px solid skyblue;*/
	margin: 0 auto;
}
.input_search{
	width:75%;
	color: #fff;
	font-size: 1.5em;
	border: none;
	outline: none;
	font-family: 'Merriweather', serif;

	/*padding-left: 1em;*/
	background-color: transparent;
	border-bottom: 0.2em solid #fff;
}
.textinput{
	margin-left: 1em;
	color: #fff;
	font-family: 'Merriweather', serif;

}
.add{
	width:5em;
	padding: 0.5em;
	color: #fff;
	font-size: 1.2em;
	margin-left: 1.5em;
	background-color:#28a745 ;
	outline: none;
	border: none;
	font-family: 'Merriweather', serif;

}


.out_box{
	width: 70%;
	margin-left: 2em;
	font-size: 1.5em;
	/*border: 1px solid green;*/

}
.output_Container_big{
	margin: 0 auto;
	border: 1px solid green;
}
.Outputcontainer{
	width:75%;
	padding:1em;
	margin:1.5em auto;
	background-color:#5252a9;
	border-radius:0.4em;
	display: flex;
}

.Cancelbutton{
	width: 5em;
	padding:0.5em;
	color: #fff;
	font-size: 1.2em;
	background-color: #28a745	;
	outline: none;
	border: none;
	font-family: 'Merriweather', serif;
	
}